@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

body {
	background:
		url('https://i.ytimg.com/vi/DR1VcyPvn-0/maxresdefault.jpg')
		;
		background-size: cover;
	
}

h2 {
	text-align: center;
	color: red;
	font-family: 'Fjalla One', sans-serif;
}

h1 {
	text-align: center;
	color: red;
	font-family: 'Fjalla One', sans-serif;
}

a {
	font-size: 35px;
	text-align: center;
	color: red;
	font-family: 'Fjalla One', sans-serif;
	text-decoration:none;  
}


a:hover {
	color: red;
}

a:active {
	color: red;
}






table {
	height: 20%;
	width: 50%;
	position: relative;
	margin-right: 25%;
	margin-left: 25%;
	box-shadow: 10px 10px 20px red;
	color: red;
	
}

 td {
    padding: 20px;
}

tr:hover{
	background-color:white;
	}





#CapaTexto {
	padding-top:1px;
	height: 10%;
	width: 100%;
	box-shadow: 10px 10px 20px red;
	margin-top: 1%;
	background-color: white;
	border-radius: 20px;
}

#CapaTexto:hover{
	opacity: 0.7;
    filter: alpha(opacity=20);
    
}


#Link{
	height: auto;
	width: 50%;
	box-shadow: 10px 10px 20px red;
	margin-top: 2%;
	background-color: white;
	border-radius: 100px;
	margin-right: 25%;
	margin-left: 25%;
	
	
}

#Link:hover{
	opacity: 0.7;
    filter: alpha(opacity=20);
    
}




